<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="VehicleRenting" connectionString="Data Source=DESKTOP-OHUHK3O\SQLEXPRESS;Initial Catalog=VSYS;Persist Security Info=True;User ID=sa;Password=tiger" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>